:root {
  --primaryColor: black;
  --primaryColor2: #03426e;
  --secondaryColor: #363636;
  --secondaryColor2: #222222;
  --secondaryColor3: rgb(128, 209, 1);
  --whiteColor: white;
  --subHeadingColor: rgb(180, 180, 180);
}

.icon_div {
  cursor: pointer;
}
.icon_div:hover {
  background-color: rgba(3, 65, 110, 0.171);
  border-radius: 5%;
  /* padding: 10px; */
}
.pharmacy_index {
  /* background-color: rgb(241, 241, 241); */
  /* height: 100%; */
}
/* .add_to_cart_btn {
  display: none;
} */

.showroom_card{
  background-color: white;
  border: none;
  border-radius: 0;
  transition: 0.3s;
  margin-bottom: 30px;
}

.index_card {
  background-color: white;
  border: none;
  border-radius: 0;
  transition: 0.3s;
  margin-bottom: 30px;
}
.index_card:hover {
  cursor: pointer;
  transform: scale(1.01);
  z-index: 1;
  margin-bottom: 0;
}
.index_card:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.drug_image_div {
  width: 100%;
  background-color: red;
  overflow: auto;
}
.drug_generic_name {
  color: var(--secondaryColor3);
  font-weight: lighter;
  font-size: 14px;
  margin: 0;
}
.drug_name {
  color: var(--primaryColor2);
  margin: 0;
}
.pharmacy_btn {
  padding: 5px 10px;
  border: 0.5px solid var(--primaryColor2);
  background-color: var(--whiteColor);
  color: var(--primaryColor2);
  cursor: pointer;
  transition: 200ms;
  font-size: 12px;
  display: inline-block;
}

.pharmacy_btn:hover {
  background-color: var(--primaryColor2);
  color: var(--whiteColor);
  border: none;
}
.near {
  font-size: 14px;
}


.cart_image {
  width: 120px;
}

.cart_card {
  border-radius: 0;
  border: none;
}
.cart_drug_name {
  color: var(--primaryColor2);
  margin: 0;
}
.cart_drug_description {
  color: var(--secondaryColor3);
  margin: 0;
}
.cart_actions {
  text-align: center;
  float: right;
}
.trash {
  color: var(--secondaryColor3);
}
.trash:hover {
  cursor: pointer;
  color: red;
}
.cart_drug_price {
  color: var(--primaryColor2);
}
.cart_drug_currenct {
  color: var(--secondaryColor3);
  font-size: 20px;
}
.arith {
  color: var(--secondaryColor3);
  /* size: .5em; */
  background-color: rgba(3, 65, 110, 0.123);
  border-radius: 5%;
  padding: 5px;
}
.arith:hover {
  cursor: pointer;
}
.b_m_d {
  position: absolute;
  /* bottom: 0; */
  color: var(--secondaryColor3);
  font-size: 12px;
  float: right;
}
.b_m_d:hover {
  cursor: pointer;
  color: var(--primaryColor2);
}
.shipping_fee {
  color: var(--primaryColor2);
  margin: 0;
  margin-top: 5px;
  font-size: 12px;
}
.pharmacy_name {
  font-size: 13px;
  color: var(--primaryColor2);
  background-color: rgba(129, 209, 1, 0.199);
  width: auto;
  padding: 5px;
}
.checkout_btn {
  background-color: var(--primaryColor2);
  color: var(--whiteColor);
  border: none;
  padding: 10px;
}
.dc_name {
  font-weight: lighter;
  display: inline;
  color: var(--primaryColor2);
  margin-left: 10px;
}
.pharmacy_index_modal {
  border: none !important;
  border-radius: 0 !important;
  padding: 20px;
}
.index_top_card {
  height: 35vh;
  margin-bottom: 30px;
  border: none !important;
  border-radius: 0 !important;
}
.profile_image {
  border-radius: 50%;
  width: 80px;
}
.user_name {
  margin: 0;
  color: var(--primaryColor2);
  font-weight: bold;
  font-size: 20px;
}
.index_top_card_icons {
  background-color: rgba(3, 65, 110, 0.068);
}
.categories_item {
  margin: 0;
  font-size: 13px;
  color: var(--primaryColor2);
}
.categories_item:hover {
  cursor: pointer;
  color: var(--secondaryColor3);
}

.modal_closer {
  color: var(--primaryColor2);
  background-color: rgba(3, 65, 110, 0.068);
  border-radius: 10%;
  padding: 5px;
  cursor: pointer;
}

.added_notificatio{
  color: var(--primaryColor2);
}
.pharmacy_nav_menu{
  background-color: var(--whiteColor);
  position: sticky;
  top: 0;
  box-shadow: 0 2px 4px 0 rgba(167, 167, 167, 0.5);

}
.continue_shopping{
  background-color: var(--primaryColor2) !important;
  color: white !important;
}
.showroom{
  color: var(--primaryColor2);
  font-size: 20px;
}
.drug_supplier{
  color:grey;
  font-size: 15px;
}