:root {
  --primaryColor: black;
  --primaryColor2: rgb(3, 66, 110);
  --secondaryColor: rgb(54, 54, 54);
  --secondaryColor2: rgb(34, 34, 34);
  --secondaryColor3: rgb(128, 209, 1);
  --whiteColor: white;
  --subHeadingColor: rgb(180, 180, 180);
  --outlet: rgb(240, 240, 240);
}

.table th {
  /* color: #677788; */
  background-color: #f8fafd;
  border-color: rgba(231, 234, 243, 0.7);
  border-top: 0.1rem solid rgba(231, 234, 243, 0.7);
  border-bottom: 0.1rem solid rgba(231, 234, 243, 0.7);
  /* font-size: 1.2rem; */
  vertical-align: bottom;
  white-space: nowrap;
  text-align: -webkit-match-parent;
}
