:root {
  --primaryColor: black;
  --primaryColor2: rgb(3, 66, 110);
  --secondaryColor: rgb(54, 54, 54);
  --secondaryColor2: rgb(34, 34, 34);
  --secondaryColor3: rgb(128, 209, 1);
  --whiteColor: white;
  --subHeadingColor: rgb(180, 180, 180);
  --outlet: rgb(240, 240, 240);
}
.text-header {
  font-size: 40px;
}

.row-header {
  padding-top: 2rem;
}
.button-header {
  padding: 10px !important;
  float: right;
  background: linear-gradient(
    to right,
    rgb(3, 66, 110),
    rgb(128, 209, 1)
  ) !important;
  border: none;
  color: white;
}

.action-button:hover {
  background-color: green;
}
.action-button:focus {
  background-color: blue;
}
.last-column {
  float: right;
}

/* DROPDOWN BUTTON */
/* __settings-button {
  border: 0.1rem solid transparent;
  cursor: pointer;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  position: relative;
  border-color: #e7eaf3;
  color: #71869d;
  background-color: #fff;
  padding: 0.875rem 1.4rem;
}
.tables .settings-button:focus,
__settings-button:hover {
  box-shadow: none;
  background-color: #80d101;
  color: white;
}
.settings {
  position: relative;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 20rem;
  z-index: 98;
  display: none;
  min-width: 13.5rem;
  padding: 1.6rem 0;
  margin: 1rem 15rem 5rem;
  font-size: 1.4rem;
  color: #677788;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 0 solid rgba(0, 0, 0, 0.15);
  right: auto;
  bottom: auto;
  box-shadow: 0 10px 40px 10px rgba(140, 152, 164, 0.18);
}
.dropdown-item {
  display: flex;
  width: 100%;
  padding: 0.5rem 2.4rem;
  clear: both;
  font-weight: 400;
  color: #1e2022;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  font-size: 1.3rem;
  align-items: center;
  gap: 0.5rem;
}
.ropdown-item:focus,
.dropdown-item:hover {
  text-decoration: none;
}
.settings:hover .admin__sidebar-icon--toggle-up {
  visibility: hidden;
}
.settings-button:hover .admin__sidebar-icon--toggle-up {
  visibility: visible;
}
.settings:focus-within __settings-button {
  background-color: #03426e;
  border-color: #03426e;
}
.settings:focus-within __dropdown-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 999;
  top: 0px;
  left: 0px;
  transform: translate3d(-66px, 36px, 0px);
  align-items: center;
}





 */

.table-responsive {
  display: block;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}
.table {
  /* width: 100%; */
  margin-bottom: 1.6rem;
  color: var(--primaryColor2);
  border-collapse: collapse;
}
.table th,
.table td {
  /* padding: 1.2rem;
  padding-right: 2.1rem;
  padding-left: 2.1rem;
  white-space: nowrap;
  font-size: 1.4rem; */
}
.table th {
  /* color: #677788; */
  background-color: #f8fafd;
  border-color: rgba(231, 234, 243, 0.7);
  border-top: 0.1rem solid rgba(231, 234, 243, 0.7);
  border-bottom: 0.1rem solid rgba(231, 234, 243, 0.7);
  /* font-size: 1.2rem; */
  text-transform: uppercase;
  vertical-align: bottom;
  white-space: nowrap;
  text-align: -webkit-match-parent;
}
.table td {
  vertical-align: middle;
}
.table__order-number {
  padding-left: 0 !important;
}
.table__order-number--old {
  width: 20%;
}
.table__order-number--new {
  width: 10%;
}
.table__cursor {
  cursor: pointer;
}
.table__tag {
  display: flex;
  gap: 0.7rem;
  align-items: center;
  width: fit-content;
  padding: 0.5rem 0.8rem;
  font-size: 1.2rem;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
  text-transform: capitalize !important;
}
.table__tag--scheduled {
  color: #9b59b6;
  background-color: #9b59b61a;
}
.table__tag--processing {
  color: #2ecc71;
  background-color: #2ecc711a;
}
.table__tag--pending {
  color: #3498db;
  background-color: #3498db1a;
}
.table__tag--out-for-delivery {
  color: #f39c12;
  background-color: #f39c121a;
}
.table__tag--confirmed {
  color: #d35400;
  background-color: #d354001a;
}
.table__tag--failed {
  color: #2c3e50;
  background-color: #2c3e501a;
}
.table__tag--returned {
  color: #fda7df;
  background-color: #fda7df1a;
}
.table__tag--unpaid {
  color: #ed4c78;
  background-color: #ed4c781a;
}
.table__tag--paid {
  color: #00c9a7;
  background-color: #00c9a71a;
}
.table a {
  color: #6200ff;
  text-decoration: none;
  background-color: transparent;
}
.table__name {
  color: #677788 !important;
  text-transform: capitalize !important;
}
.table .table__settings-button {
  border: 0.1rem solid transparent;
  cursor: pointer;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  position: relative;
  border-color: #e7eaf3;
  color: #71869d;
  background-color: #fff;
  padding: 0.875rem 1.4rem;
}
.table .table__settings-button:focus,
.table .table__settings-button:hover {
  box-shadow: none;
  background-color: #80d101;
  color: white;
}
.table__settings {
  position: relative;
}
.table__dropdown-menu {
  position: absolute;
  top: 100%;
  left: 20rem;
  z-index: 98;
  display: none;
  min-width: 13.5rem;
  padding: 1.6rem 0;
  margin: 1rem 15rem 5rem;
  font-size: 1.4rem;
  color: #677788;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 0 solid rgba(0, 0, 0, 0.15);
  right: auto;
  bottom: auto;
  box-shadow: 0 10px 40px 10px rgba(140, 152, 164, 0.18);
}
.table .table__dropdown-item {
  display: flex;
  width: 100%;
  padding: 0.5rem 2.4rem;
  clear: both;
  font-weight: 400;
  color: #1e2022;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  font-size: 1.3rem;
  align-items: center;
  gap: 0.5rem;
}
.table .table__dropdown-item:focus,
.table .table__dropdown-item:hover {
  text-decoration: none;
}
.table__settings:hover .admin__sidebar-icon--toggle-up {
  visibility: hidden;
}
.table__settings-button:hover .admin__sidebar-icon--toggle-up {
  visibility: visible;
}
.table__settings:focus-within .table__settings-button {
  background-color: #03426e;
  border-color: #03426e;
}
.table__settings:focus-within .table__dropdown-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 999;
  top: 0px;
  left: 0px;
  transform: translate3d(-66px, 36px, 0px);
  align-items: center;
}
.table__card-footer {
  padding: 2.1rem;
  background-color: #fff;
  border-top: 0.1rem solid rgba(231, 234, 243, 0.7);
  display: block;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}
.table__card-footer:last-child {
  border-radius: 0 0 1.1rem 1.1rem;
}
.table__row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.table__column {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 100%;
  max-width: 100%;
}
.table__pagination-list {
  margin-top: 0;
  margin-bottom: 1.6rem;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.5rem;
}
.table__pagination-item {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}
