:root {
  --primaryColor: black;
  --primaryColor2: rgb(3, 66, 110);
  --secondaryColor: rgb(54, 54, 54);
  --secondaryColor2: rgb(34, 34, 34);
  --secondaryColor3: rgb(128, 209, 1);
  --whiteColor: white;
  --subHeadingColor: rgb(180, 180, 180);
  --outlet: rgb(240, 240, 240);
}

.man_sidebar {
  background-color: var(--primaryColor2);
  /* background-image: linear-gradient(rgb(3, 66, 110), rgb(128, 209, 1)); */
  height: 100vh;
  /* background: linear-gradient(180deg, #03426e, #029f41) */
}

Form.Control:focus {
  outline: none;
}

._outlet {
  /* background-color: var(--outlet); */
  background: linear-gradient(90deg, #03416e10, #029f413a);
  /* height: 100%; */
}

.sidebarlogo {
  width: 70px;
  padding: 20px 5px;
  border-radius: 10px;
}

.sidemenu_div {
  color: var(--whiteColor);
}

.sidemenu {
  padding: 5px 10px;
}

.sidemenu:hover {
  background-color: rgba(200, 232, 255, 0.219);
  cursor: pointer;
}

.active_side_menu {
  background-color: #eaeef0;
  color: var(--primaryColor2);
  /* border-right: 5px solid var(--secondaryColor3); */
}

.active_side_menu:hover {
  background-color: #eaeef0;
  color: var(--primaryColor2);
}

.sidemenu_bottom_icon {
  padding: 5px 10px;
}

.sidemenu_bottom_icon:hover {
  background-color: rgba(200, 232, 255, 0.219);
  cursor: pointer;
}

.sidemenu_bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.man_card {
  border-radius: 0;
  margin: 0 30px;
  /* border:0.5px solid var(--primaryColor2); */
  height: 85vh;
  overflow-y: auto;
}

.man_card_title {
  color: var(--primaryColor2);
}

.account {
  color: var(--primaryColor2);
}

.man_search_field {
  width: 13%;
  background-color: white;
  margin: 15px 20px;
  border: none;
  padding: 8px;
  transition: 500ms;
  border-radius: 0;
}

.man_search_field:focus {
  width: 100%;
  outline: none !important;
}

.man_input_fields {
  width: 100% !important;
  border: none;
  background-color: rgb(240, 240, 240);
  padding: 8px;
}

.man_input_fields:focus {
  outline: 1px solid var(--secondaryColor3);
}

.man_button {
  border: none;
  background-image: linear-gradient(90deg, #03416e, #029f41);
  padding: 8px;
  color: white;
}

.MT {
  border: none;
  background-image: linear-gradient(90deg, #03416e, #029f41);
  padding: 8px;
  color: white;
  margin-bottom: 10px;
}

.GH {
  border: none;
  background-image: linear-gradient(90deg, #03416e, #029f41);
  padding: 8px;
  color: white;
}

.overview_card {
  border: none;
  border-radius: 0;
}

.d_p1 {
  background-color: rgb(3, 66, 110);
  color: white;
  padding: 1px 2px;
}

.d_p2 {
  background-color: #029f41;
  color: white;
  padding: 1px 2px;
}

.barchart_div {
  border: 1px solid rgb(3, 66, 110);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.11), 0 6px 20px 0 rgba(0, 0, 0, 0.123);
  /* height: 100%; */
}

.expired_drug {
  height: 27.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.expired_card {
  border: 1px solid var(--primaryColor2);
}

.KYC_card {
  border-radius: 0;
  margin: 30px;
  /* border:0.5px solid var(--primaryColor2); */
}

.drop_down_item:hover {
  background-color: var(--primaryColor2);
  color: var(--whiteColor);
  cursor: pointer;
}

.dropdown_menu {
  border: none !important;
  border-radius: 0 !important;
}

.action_img:hover {
  background-color: rgba(3, 65, 110, 0.158);
  cursor: pointer;
}

.csv {
  color: #03416e;
}

.csv:hover {
  color: var(--whiteColor);
}

.aa:focus {
  outline: none;
  background-color: red;
}
.grid {
  color: var(--primaryColor2);
}
.grid:hover {
  background-color: #029f412f;
  cursor: pointer;
}
._slogan {
  background-image: linear-gradient(#03416e, #029f41);
  background: transparent;
  font-weight: 1px;
  font-size: 20px;
}
.not_card {
  border-radius: 0;
  background: linear-gradient(90deg, #03416e10, #029f413a);
}
.active_nav_menu {
  background-color: rgba(3, 65, 110, 0.171);
  border-radius: 5%;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  height: 50px;
}

.icon_div {
  cursor: pointer;
}
.icon_div:hover {
  background-color: rgba(3, 65, 110, 0.171);
  border-radius: 5%;
  /* padding: 10px; */
}

.absolute {
  position: absolute;
  top: -10px;
  left: 20px;
  font-size: 10px;
  background-color: var(--secondaryColor3);
  color: white;
  border-radius: 10%;
  padding: 2px 5px;
  /* width: 20px; */
  /* height: 20px; */
  text-align: center;
  /* padding-top: 7.5px; */
  z-index: 1;
}

.qr_code_div1 {
  position: relative;
}
.qr_code_div2 {
  position: absolute;
  top: 170px;
  left: 30px;
  opacity: 0.3;
}

@media only screen and (max-width: 768px) {
  .man_sidebar {
    display: none;
  }
  .webnavbar {
    display: none;
  }
  .mobilenavbar {
    background-color: var(--primaryColor2);
  }
  .menu_ {
    color: 'white';
    float: 'right';
  }
  .man_card_title {
    font-size: 15px;
  }
  .man_button {
    font-size: 10px;
  }
  ._outlet {
    height: 100vh;
  }
}

@media only screen and (min-width: 768px) {
  .mobilenavbar {
    display: none;
  }
  .man_nav_search_field {
    display: none;
  }
}

ul {
  margin: 0;
}

/* span {
  font-size: 2rem;
  color: #777;
} */

.dropzone {
  text-align: center; 
  padding: 20px;
  border: 1px dashed var(--secondaryColor3);
  background-color: rgb(240, 240, 240);
  color: #bdbdbd;

  margin-bottom: 20px;
}

.accept {
  border-color: #107c10 !important;
}

.reject {
  border-color: #d83b01 !important;
}

.thankyou{
  color: var(--primaryColor2);
  font-weight: bold;
  font-size: 40px;
  margin: 0;
}
.mssg{
  color: var(--secondaryColor3);
  font-size: 20px;
  margin: 0;
}




label[for=file-input] {
  display: inline-block;
  margin-bottom: 1em;
  font-size: 1em;
  color: #fff;
  opacity: 0.9;
  font-weight: bold;
}

input[type=file] {
  cursor: pointer !important;
  background-color: rgb(240, 240, 240);
  width: 100% !important;

}
input[type=file]::-webkit-file-upload-button {
  background: #03416e;
  border: 0;
  padding: 8px;
  cursor: pointer;
  color: #fff;
  border-radius: 0em;
}
input[type=file]::-ms-browse {
  background: #029f41;
  border: 0;
  padding: 1em 2em;
  cursor: pointer;
  color: #fff;
  border-radius: 0.2em;
}
